.active {
    font-weight: bold;
}

.active > div {
    background-color: MediumSlateBlue ;
    border: 2px solid red;
}

.sidebar_listitem {
    background-color: Gainsboro;
}

.sidebar_listitem:hover {
    background-color: silver;
}
