.site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-body {
    background: rgb(237, 237, 248);
    flex: 1 1 auto;
    display: flex;
}

.site-main {
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}
